<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Question</title>
</head>
<h1>{{ survey_question }}</h1>
<p>{{ survey_instructions }}</p>
<form action="/survey/{{ question_num }}" method="POST">
  <fieldset>
    {% for answer in choices %}
    <label for="{{ answer }}">{{ answer }}</label>
    <input type="radio" id='{{ answer }}' name="answer" value="{{ answer }}">
    {% endfor %}
  </fieldset>
  <button>Start</button>
</form>

<body>

</body>

</html>